*{
    margin:0;
    padding:0;
}

.header-list{
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
}

ul > li{
    list-style-type: none;
}

.header-list > li > a{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.3rem;
    color:white;
}

.first-page{
    height: max(100vh,800px);
    background:url(./assets/background_photo_01.jpg);
    background-size: cover;
    padding:10px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    color:#fff;
    display: flex;
    flex-direction: column;
}

.body{
    margin-inline:auto;
    margin-top:2rem;
    width:min(80%,1000px);
    height: 77vh;
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
}

.subscribe-text{
    font-size:1.3rem;
}


.subscribe{
    margin-top:5rem;
    margin-bottom: 2rem;
    display: flex;
    gap:10px;
}

.subscribe-input{
    display:inline;
    min-height: 3rem;
    min-width: min(25vw,350px);
    padding:2px 8px;
}

.subscribe-btn{
    padding:8px 4rem;
    font-weight: 800;
    background-color: #eccd1f;
    border: none;
}


.body :is(img){
    width:300px;
    margin:2rem 0 1rem;
}

.body > h2{
    margin-top:2rem;
    margin-bottom: 2rem;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 1000;
}

p{
    max-width: 100ch;
}

.contact{
    border:1px solid grey;
    width: fit-content;
    padding:1rem 2rem;
    margin-top:50px;
    border-radius: 10px;
    margin-inline:auto;
}

.contact > h3{
    font-size: 1.8rem;
    width:fit-content;
    margin:10px auto 20px;
}

.contact > p{
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2.4rem;
}

/* Footer styles */

footer{
    background-color: #010b50;
    min-height: 200px;
    margin-top:-100px;
    color:white;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.footer-container{
    display:flex;
    flex-direction: column;
    padding-bottom:40px;
    width: min(90%,1000px);
    margin-inline:auto;
    justify-content: space-around;
    align-items: center;
}

.social-media{
    display:flex;
    margin-top:2rem;
}

.social-media > li{
    margin-inline:10px;
    padding: 5px;
}

.social-media > li > a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    padding:0 15px;
    gap:10px;
}


@media only screen and (max-width: 600px) {
    .subscribe-btn{
        padding:2px 35px;
    }

    .body > h2{
        font-size: 3.5rem;
    }
    
}